#message {
  height: 50px;
}

.alert {
  background: rgba(255, 0, 0, 0.527);
  color: #fff;
  font-weight: 700;
  padding: 10px;
}

.badge {
  display: inline-block;
  background: rgb(255, 214, 102);
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}